# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# build
PyGIP.egg-info/
dist/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
.AppleDouble
.LSOverride

#virtual environments folder
.venv

# Local datasets / artifacts (do not commit)
data/
*.pt
*.pth
*.zip

# accidental local files
2.2.0

# Local datasets / artifacts (do not commit)
data/
*.pt
*.pth
*.zip

# accidental local files
2.2.0
